body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f1ea;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #543310, #74512D);
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background: #8d5524;
}

header {
    text-align: center;
    padding: 20px 0;
    background: #a38461;
    color: #fff;
    position: relative;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, #74512D, #AF8F6F, #74512D);
    transition: left 0.5s;
    z-index: 1;
}

header:hover::before {
    left: 0;
}

header h1 {
    position: relative;
    z-index: 2;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: calc(100% - 40px); /* Exclude safe areas */
    max-width: 600px; /* Limit max width */
    background: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.form-container:hover {
    border-image: linear-gradient(45deg, #6a4f4b, #b08968, #6a4f4b) 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
}

input:focus, textarea:focus {
    border-color: #b08968;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:hover, textarea:hover {
    border-color: #b08968;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #6a4f4b;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #b08968;
}